<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shoe Store</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/Content/js/jquery-1.12.0.js" type="text/javascript"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/scripts.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>@Model["brand"].GetName() Shoe Stores</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>@Model["brand"].GetName() is sold at these stores:</h3>
          <ul>
            @foreach(var store in @Model["brandsStores"])
            {
              <li><a href="/store/@store.GetId()">@store.GetName()</a></li>
            }
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Add a store that sells @Model["brand"].GetName()</h3>
          <form action="/brand/add_store" method="post">
            <input id="brand-id" name="brand-id" type="hidden" value='@Model["brand"].GetId()'>
            <label for="store-id">Select a store</label>
            <select id="store-id" name="store-id" type="text">
              @foreach (var store in @Model["allStores"])
              {
                <option value="@store.GetId()">@store.GetName()</option>
              }
            </select>
            <button type="submit">Add</button>
          </form>
        </div>
      </div>
      <p><a href="/">Home</a></p>
    </div>
  </body>
</html>
