<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shoe Store</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/Content/js/jquery-1.12.0.js" type="text/javascript"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/scripts.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>@Model["store"].GetName() Shoe Brands</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>@Model["store"].GetName() sells these brands:</h3>
          <ul>
            @foreach(var brand in @Model["storesBrands"])
            {
              <li><a href="/brands/@brand.GetId()">@brand.GetName()</a></li>
            }
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Add a brand that is sold at @Model["store"].GetName()</h3>
          <form action="/store/add_brand" method="post">
            <input id="store-id" name="store-id" type="hidden" value='@Model["store"].GetId()'>
            <label for="brand-id">Select a brand</label>
            <select id="brand-id" name="brand-id" type="text">
              @foreach (var brand in @Model["allBrands"])
              {
                <option value="@brand.GetId()">@brand.GetName()</option>
              }
            </select>
            <button type="submit">Add</button>
          </form>
        </div>
      </div>
      <p><a href="/">Home</a></p>
    </div>
  </body>
</html>
